body {
    font-family: 'Poppins', sans-serif;
}

header {
    background:#FFFFFF;
    padding: 20px 0;
    min-height: auto;
}

.menu{
    position: relative;
    width: 100%;
}

.nuvem{
    background-position: center;
    background-image: url(../imagens/bitcoin1.png);
    background-repeat: no-repeat;
    padding: 0 10px;
}

.menu > .estrela{
    padding: 0 15%;
}

.estrela:last-child{
    color: yellow;

} /*por que esse não deu certo? */


nav {
    position: absolute;
    top:10px;
    left: 500px;
}

nav li {
    display: inline-block;
    margin-left: 90px;
}

nav a{
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    background-image: url(../imagens/Indicator.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

nav a:active{
    background-image: url(../imagens/Indicator.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.homeblog{
    background: linear-gradient(#FD749B, #281ACB);
    width: 100%;
    display: inline-block;
}

#home{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 12px;
    padding: 200px 0 0 200px;
}

.homeblog h3{
    padding: 20px 0 0 200px;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    font-weight: bold;
    width:400px;
    line-height: normal;
}

.homeblog p{
    color: #FFFFFF;
    font-size: 18px;
    padding: 20px 0 200px 200px;
    width:400px;
    text-align: justify;
    line-height: normal;
}

.imgmoco{
    float: right;
    width: auto;
    padding: 30px 170px;
}

.homeblog > .imgmoco, .textinho{
    display: inline-block;
}

.nft{
    position: relative;
    display: inline-block;
    margin: 20px 300px;
    padding-top: 50px;
    height: 1000px;
}

.img-post{
    border: 2px solid transparent;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.merryxmas{
    position: relative;
    display: inline-block;
    margin: 20px 300px;
    padding-top: 50px;
    height: 1000px;
}

.smartcontracts{
    position: relative;
    display: inline-block;
    margin: 20px 300px;
    padding-top: 50px;
    height: 1000px;
}

.parte-de-baixo{
    background-image: url(../imagens/borda.png);
    background-repeat: no-repeat;
    padding-bottom: 200px;
    margin-top: -30px;
    margin-left: 2px;
}

.titulo-post{
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    line-height: 45px;
    background-image: linear-gradient(#FD749B, #281ACB);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    padding: 30px 0 10px 0;
}

.data{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 10px;
    padding: 0 0 20px 0;
    padding: 10px 0 10px 0;
}

.texto{
    text-align: center;
    width: 900px;
    margin: 0 auto;
    font-size: 16px;
    line-height: normal;
    padding: 20px 0 10px 0;
}

.descubra{
    text-align: center;
    margin: 0 550px;
    padding: 40px 0 0 0;
}


footer{
    background-color: black;
    min-height: 50px;
    width: 100%;
}

footer > p{
    color: #989898;
    padding: 30px 50px 20px 20px;
    clear:right;
    font-size: 12px;
}
