body {
    font-family: 'Poppins', sans-serif;
}

header {
    background:#FFFFFF;
    padding: 20px 0;
    min-height: auto;
}

.menu{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.nuvem{
    background-position: center;
    background-image: url(../imagens/bitcoin1.png);
    background-repeat: no-repeat;
    padding: 0 10px;
}

.menu h2{
    text-transform: uppercase;
}

.menu h2:last-letter{
    color: yellow;
} /*por que esse não deu certo? */

nav {
    position: absolute;
    top:-10px;
    right: 290px;
}

nav li {
    display: inline-block;
    margin-left: 90px;
}

nav a{
    font-size: 21px;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

.homeblog{
    background: linear-gradient(#FD749B, #281ACB);
    width: 100%;
    display: inline-block;
}

#home{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 12px;
    padding: 200px 0 0 200px;
}

.homeblog h3{
    padding: 20px 0 0 200px;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    font-weight: bold;
    width:400px;
    line-height: normal;
}

.homeblog p{
    color: #FFFFFF;
    font-size: 18px;
    padding: 20px 0 0 200px;
    width:400px;
    text-align: justify;
    line-height: normal;
}

.homeblog h4{
    clear: right;
}

.imgmoco{
    float: right;
    width: auto;
}

.homeblog > .imgmoco, .textinho{
    display:inline-block;
}

.nft{
    position: relative;
    border: 2px solid linear-gradient(#FD749B, #281ACB);
    border-radius: 10px;
    display: inline-block;
    margin: 20px 200px;
}

.titulo-post{
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    line-height: 45px;
    background-image: linear-gradient(#FD749B, #281ACB);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.data{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 10px;
    padding: 0 0 20px 0;
}

.texto{
    text-align: justify;
    width: 700px;
    margin: 0 auto;
    font-size: 16px;
}

.descubra{
    text-align: center;
    margin: 0 550px;
    padding: 20px 0 0 0;
}

.merryxmas{
    position: relative;
    border: 2px solid linear-gradient(#FD749B, #281ACB);
    border-radius: 10px;
    display: inline-block;
    margin: 20px 200px;
}

.smartcontracts{
    position: relative;
    border: 2px solid linear-gradient(#FD749B, #281ACB);
    border-radius: 10px;
    display: inline-block;
    margin: 20px 200px;
}

footer{
    background-color: black;
    min-height: 50px;
    width: 100%;
}

footer > p{
    color: white;
    padding: 30px 50px 20px 20px;
    clear:right;
    font-size: 12px;
}
