html{
    width:100;
}

body {
    font-family: 'Poppins', sans-serif;
}
header {
    padding: 10px 0 10px 0;
    min-height: auto;
    margin: 0 auto;
}

#resultado{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px 0 10px 0;
    background-color:#F5719C;
    color: white;
}

.menu{
    font-family: 'Poppins', sans-serif;
    display: inline;
}
.nuvem{
    background-position: center;
    background-image: url(../imagens/bitcoin1.png);
    background-repeat: no-repeat;
    padding: 0 10px;
}
.estrela{
    background: linear-gradient(#FD749B, #281ACB);
    border: 2px solid white;
    border-radius: 50px;
    width: 200px;
    height: 60px;
    text-align: center;
}
.estrela p{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: uppercase;
    padding-top: 15px;
}

.estrela > p, #result{
    display: inline-block;
}

#result{
    font-family: 'Poppins', sans-serif;
    color:white;
}

nav {
    padding: 0 100px 0 90px;
}

nav li {
    display: inline-block;
}
nav a{
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    margin-right: 70px;
}

nav a:hover{
    background-image: url(../imagens/Indicator.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
}
/* tentativa de deixar o indicador rosa fixo embaixo */

.homeblog{
    background: linear-gradient(#FD749B, #281ACB);
}

.home{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 12px;
    padding: 100px 0 10px 180px;
    font-weight: lighter;
}

.homeblog h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    font-weight: bold;
    line-height: normal;
    padding: 0 0 10px 180px;
}
.homeblog p{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    width: 600px;
    text-align: justify;
    line-height: normal;
    padding-left: 180px;
    font-weight: lighter;
}
.col-md-6{
    padding-top: 30px;
}
.caminho{
    margin-bottom:-50px;
    width: 100%;
}

.container{
    padding-top: 50px;
}

.img-post{
    border: 2px solid transparent;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}
.parte-de-baixo{
    background-image: url(../imagens/borda.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
    margin-top: -30px;
    margin-left: 2px;
    text-align: center;
    margin-right: 100px;
}
.titulo-post{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    line-height: 45px;
    background-image: linear-gradient(#FD749B, #281ACB);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}
.data{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 10px;
    padding: 0 0 20px 0;
    padding: 15px 0 10px 0;
    word-spacing: 10px;
}
.texto{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    font-size: 16px;
    line-height: normal;
    padding: 20px 0 30px 0;
}
.descubra{
    background: linear-gradient(#FD749B, #281ACB);
    border: 2px solid white;
    border-radius: 50px;
    margin: 0 auto;
    width: 200px;
    height: 70px;
}

.descubra p{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 20px 50px;
}

footer{
    margin-top: 100px;
    background-color: black;
    min-height: 50px;
    width: 100%;
    margin-bottom: 300px;
}
footer > p{
    font-family: 'Poppins', sans-serif;
    color: #989898;
    padding: 0 100px 30px 100px;
    clear:right;
    font-size: 12px;
    opacity: 60%;
}

.nuvembranca{
    background-position: center;
    background-image: url(../imagens/bitcoinbranco.png);
    background-repeat: no-repeat;
}

.logobranco{
    padding-left: 30px;
}

.logos{
    padding: 30px 100px;
}

/* css post */

.secondpage{
    background-color: white;
    width: 100%;
}

.img-2nd{
    width: 100%;
}

.secondpage h4{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    color: white;
    top: 50%;
    left: 16%;
    width: 1000px;
}

.secondpage p{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    color: white;
    text-align: center;
    top: 65%;
    left: 45%;
    word-spacing: 10px;
    font-weight: lighter;
}

.caminho2{
    position: absolute;
    top: 90%;
    width: 100%;
    left: 0%;
}


.txt2nd p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    text-align:left;
    font-size: 16px;
    line-height: normal;
    padding-bottom: 20px;
    margin-left: 270px;
    margin-right: 270px
}

.scrollToTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-decoration: none;
    color: white;
    font-size: 2em;
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: center;
    width: 50px;
    background-color: #CCCCCC;
    transition: 1s;
    opacity: 40%;
}

.scrollToTop:hover{
    font-size: 2.5em;
    width: 60px;
    color: #FD749B;
    opacity: 20%;
}
.estrelinha{
    padding-bottom:10px;
}

.avalia{
    font-weight: bold;
}

button{
    background-color: white;
    border: none;
    padding-left: 0;
    padding-right: 0;
}
